Program to accept the details of a student like name,roll number and mark and display it

In [ ]:
Name=input("Enter the name:")             # Enter the name of the student
Roll_No=input("Enter the roll number:")   # Enter the roll no of the student
Mark=input("Enter the mark:")             # Enter the mark of the student
print("Name:",Name)
print("Roll No:",Roll_No)
print("Mark:",Mark)

Enter the name:Ike
Enter the roll number:45
Enter the mark:34
Name: Ike
Roll No: 45
Mark: 34

Program to convert temperatures to and from celsius Fahrenheit

In [ ]:
f=int(input("Temperature in fahrenheit="))      # Get the input from the user
C=int(5/9*(f-32))                               # calculate area
print("Temperature in celsius=",C)

Temperature in fahrenheit=41
Temperature in celsius= 5

Program to accept two numbers from the user and display its product

In [ ]:
a=int(input("Enter a number:"))         # Enter a number
b=int(input("Enter another number:"))   # Enter another number from a user
c=a*b                                   # calculate area
print("The product of given number is:",c)

Enter a number:5
Enter another number:6
The product of given number is: 30

# Program to accept a string "Learn Python by Developing a Website" and display the string like "Learn**Python**by Developing a**Website**"

In [ ]:

A = 'Learn Python by Developing a Website'
C = []
C= A.split(' ')

START = '\033[1m'
END = '\033[0m'

C[0]+START +C[1]+END+C[2]+' '+C[3]+' '+C[4]+START+C[5]+END

'Learn\x1b[1mPython\x1b[0mby Developing a\x1b[1mWebsite\x1b[0m'

Program to accept the radius of a circle and display its area

In [ ]:
import math
radius=int(input("Enter the radius of circle:"))   # Enter the radius of the circle
area=math.pi*radius**2                             # calculate area
print("The area of circle is:",area)

Enter the radius of circle:4
The area of circle is: 50.26548245743669

Program to insert a number to any position in a list

In [ ]:
list=[22,44,55,77]
n=int(input('Enter the position to insert'))
m=int(input('Enter the number to insert'))
list.insert(n-1,m)
list

Enter the position to insert3
Enter the number to insert65

[22, 44, 65, 55, 77]

Program to rename a key city to a location

In [ ]:
sample_dict={"name":"John","age":5,"salary":8000,"city":"New york"}
sample_dict["location"]=sample_dict.pop("city")
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New york'}

Program to change Brad's salary to 8500

In [ ]:
sample_dict={'emp1':{'name':'john','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':500}}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'john', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

Program to copy elements 43 and 54 from the following tuple into a new tuple

In [ ]:
tuple1=(10,20,43,54,56,68)
tup=tuple1[2:4]
print(tup)

(43, 54)

Counts the number of occurrences of item 50 from a tuple

In [ ]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3